{% extends 'base.html.twig' %}

{% block body %}
<section class=" text-center">
    <div class="container">
        <h1>Pays Infectés<h1>
                <h2 class="py-4">{{ country.name }} </h2>
                {% for stat in country.stat %}
                <h5>Les Contaminés</h5>
                {{ stat.contaminated }} <br>
                <h5>Les Guéris</h5>
                {{stat.healed}} <br>
                <h5>Les ZOMBIFIES</h5>
                {{ stat.zombified}} <br>
                <h5>Date d'enregistrement</h5>
                {{stat.statdate|date('d-m-Y')}}

                {% endfor %}

    </div>

</section>
{% endblock %}